<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PowerUp Game Store</title>
    <link href="{% static 'assets/css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/destaques.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/populares.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/menu.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/resposivo.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="app">
    <header class="encabezado pl-1">
        <nav class="navbar navbar-expand-lg menu d-flex pl-lg-4 ">
            <ul class="menu__lista w-100 pl-0 d-flex align-items-center justify-content-between">
                <div class="d-flex">
                    <li class="menu__item">
                        <a class="menu__link activo" href="#">
                            <i class="fas fa-home"></i>
                            Inicio
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#destaques__categorias___icon">
                            <i class="fas fa-layer-group"></i>
                            Categorías
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#populares__titulo">
                            <i class="fas fa-gamepad"></i>
                            Juegos
                        </a>
                    </li>
                </div>
                <!-- Registro y Login -->
                <div class="d-flex">
                    <li class="menu__item">
                        <a class="menu__link" href="{% url 'register_account' %}">
                            <i class="fas fa-user"></i>
                            Registro
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            <i class="fas fa-sign-in-alt"></i>
                            Login
                        </a>
                    </li>
                </div>
            </ul>
        </nav>
    </header>
    
    <main class="contenido mt-2">
        <section class="destaques">
            <div class="destaques__principal box">
                <h3 class="destaques__titulo">Dead by Daylight</h3>
            </div>
            <div class="destaques__secundario box">
                <h3 class="destaques__titulo">Call of Duty: Modern Warfare III</h3>
            </div>
            <div class="destaques__secundario box">
                <h3 class="destaques__titulo">Dying Light 2</h3>
            </div>
            <div class="destaques__secundario box">
                <h3 class="destaques__titulo">Friends vs Friends</h3>
            </div>
            <div class="destaques__secundario box">
                <h3 class="destaques__titulo">HELLDIVERS™ 2</h3>
            </div>
            <div class="destaques__categorias">
                <ul class="destaques__categorias___lista">
                    <li class="destaques__categorias___item">
                        <a class="destaques__categorias___link" href="#">
                            <i id="destaques__categorias___icon"
                                class="destaques__categorias___icon fas fa-layer-group"></i>
                            Categorías populares
                        </a>
                    </li>
                    <li class="destaques__categorias___item">
                        <a class="destaques__categorias___link" href="#">
                            <i class="fas fa-list-ol"></i>
                            Juegos populares
                        </a>
                    </li>
                    <li class="destaques__categorias___item">
                        <a class="destaques__categorias___link" href="#">
                            <i class="far fa-star"></i>
                            En Destaque
                        </a>
                    </li>
                    <li class="destaques__categorias___item">
                        <a class="destaques__categorias___link" href="#">
                            <i class="far fa-bell"></i>
                            Novedades
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="populares">
            <div class="populares__items">
                <div class="populares__info">
                    <div class="populares__header">
                        <h4 class="populares__titulo">
                            <i class="populares__icon fab fa-buromobelexperte"></i>
                            Categorías populares
                        </h4>
                        <button class="populares__boton">
                            <i class="fas fa-th"></i>
                            Ver todos
                        </button>
                    </div>
                </div>
                <div class="populares__contenido">
                    <div class="populares__card col-12 col-md-4 col-lg-2">
                        <img class="populares__card___imagen" src="{% static 'assets/img/horror.jpg' %}">
                        <div class="populares__card___base">
                            <div class="populares__card___header">
                                <h5 class="populares__card___titulo">Horror</h5>
                            </div>
                        </div>
                    </div>
                    <div class="populares__card col-12 col-md-4 col-lg-2">
                        <img class="populares__card___imagen" src="{% static 'assets/img/action.jpg' %}">
                        <div class="populares__card___base">
                            <div class="populares__card___header">
                                <h5 class="populares__card___titulo">Acción</h5>
                            </div>
                        </div>
                    </div>
                    <div class="populares__card col-12 col-md-4 col-lg-2">
                        <img class="populares__card___imagen" src="{% static 'assets/img/aventura.webp' %}">
                        <div class="populares__card___base">
                            <div class="populares__card___header">
                                <h5 class="populares__card___titulo">Aventura</h5>
                            </div>
                        </div>
                    </div>
                    <div class="populares__card col-12 col-md-4 col-lg-2">
                        <img class="populares__card___imagen" src="{% static 'assets/img/fightjpg.jpg' %}">
                        <div class="populares__card___base">
                            <div class="populares__card___header">
                                <h5 class="populares__card___titulo">Fighting</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="populares__items">
                <div class="populares__info">
                    <div class="populares__header">
                        <h4 id="populares__titulo" class="populares__titulo">
                            <i class="populares__icon fas fa-list-ol"></i>
                            Juegos populares
                        </h4>
                        <button class="populares__boton">
                            <i class="fas fa-th"></i>
                            Ver todos
                        </button>
                    </div>
                </div>
                <div class="populares__contenido row">
                    <!-- Juegos -->
                    <!-- DBD -->
                    <div class="populares__card col-12 col-md-4 col-lg-2">
                        <img class="populares__card___imagen" src="{% static 'assets/img/dbd.jpg' %}">
                        <div class="populares__card___base">
                            <div class="row justify-content-center mb-3">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Dead by Daylight</h5>
                                        <p class="card-text">Es un juego de horror de multijugador (4 contra 1) en el
                                            que un jugador representa el rol del asesino despiadado y los 4 restantes
                                            juegan como supervivientes que ...</p>
                                        <div class="text-center">
                                            <a href="#" class="btn btn-primary">CLP$ 8.500</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="populares__card col-12 col-md-4 col-lg-2">
                        <img class="populares__card___imagen" src="{% static 'assets/img/red.jpg' %}">
                        <div class="populares__card___base">
                            <div class="row justify-content-center mb-3">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Red Dead Redemption 2</h5>
                                        <p class="card-text">Con más de 175 premios al Juego del año y más de 250
                                            valoraciones perfectas, Red Dead Redemption 2 es la épica historia de Arthur
                                            Morgan y la banda de Van der Linde, que huyen por toda América en el ...
                                        </p>
                                        <div class="text-center">
                                            <a href="#" class="btn btn-primary">CLP$ 39.990</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="populares__card col-12 col-md-4 col-lg-2">
                        <img class="populares__card___imagen" src="{% static 'assets/img/helldivers.jpg' %}">
                        <div class="populares__card___base">
                            <div class="row justify-content-center mb-3">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">HELLDIVERS™ 2</h5>
                                        <p class="card-text">La última línea de ataque de la galaxia. Alístate en los
                                            Helldivers y únete a la lucha por la libertad en una galaxia hostil en un
                                            juego de disparos en tercera persona rápido, frenético y feroz. </p>
                                        <div class="text-center">
                                            <a href="#" class="btn btn-primary">CLP$ 28.000</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="populares__card col-12 col-md-4 col-lg-2">
                        <img class="populares__card___imagen" src="{% static 'assets/img/cod-mw3.jpg' %}">
                        <div class="populares__card___base">
                            <div class="row justify-content-center mb-3">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Call of Duty: Modern Warfare III</h5>
                                        <p class="card-text">En la secuela directa del exitoso juego Call of Duty®:
                                            Modern Warfare® II, el capitán Price y la Fuerza operativa 141 se enfrentan
                                            a la amenaza definitiva.</p>
                                        <div class="text-center">
                                            <a href="#" class="btn btn-primary">CLP$ 54.990</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="populares__card col-12 col-md-4 col-lg-2">
                        <img class="populares__card___imagen" src="{% static 'assets/img/bus.jpg' %}">
                        <div class="populares__card___base">
                            <div class="row justify-content-center mb-3">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Fernbus Simulator</h5>
                                        <p class="card-text">El Fernbus Coach Simulator es el primer simulador de los
                                            populares autobuses de largo recorrido. Gracias a la colaboración con
                                            Flixbus el Fernbus Coach Simulator muestra la vida diaria de ...</p>
                                        <div class="text-center">
                                            <a href="#" class="btn btn-primary">CLP$ 8.045</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
    <footer class="rodapie">Todos los derechos reservados &copy; PowerUp Game Store </footer>
    <script src="{% static 'assets/js/fontawesome.all.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>
