<nav class="navbar navbar-expand-lg menu d-flex pl-lg-4 ">
    <ul class="menu__lista w-100 pl-0 d-flex align-items-center justify-content-between">
        <div class="d-flex">
            <li class="menu__item">
                <a class="menu__link activo" href="#">
                    <i class="fas fa-home"></i>
                    Inicio
                </a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#destaques__categorias___icon">
                    <i class="fas fa-layer-group"></i>
                    Categorías
                </a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#populares__titulo">
                    <i class="fas fa-gamepad"></i>
                    Juegos
                </a>
            </li>
        </div>
        
        <div class="d-flex">
            {% if user.is_authenticated %}
                <li class="menu__item">
                    <button type="submit" class="menu__link btn btn-link">
                        <i class="fas fa-user"></i>
                            {{ user.username }}
                    </button>
                </li>

                <li class="menu__item">
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="menu__link btn btn-link">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout
                        </button>
                    </form>
                </li>

                <li class="menu_item">
                    <a clas="menu_link" href="{% url 'carrito' %}">
                        <i class="fas fa-user"></i>
                        Carrito
                    </a>
                </li>

            {% else %}
                <!-- Mostrar botones de registro y login cuando el usuario NO está autenticado -->
                <li class="menu__item">
                    <a class="menu__link" href="{% url 'register_account' %}">
                        <i class="fas fa-user"></i>
                        Registro
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
                        <i class="fas fa-sign-in-alt"></i>
                        Login
                    </a>
                </li>
            {% endif %}
        </div>
    </ul>
</nav>
