{% extends 'base.html' %}

{% block title %}Perfil de {{ user.username }}{% endblock %}

{% block content %}
<main class="contenido container mt-4">
    <div class="row">
        <div class="col-md-4">
            <img src="https://via.placeholder.com/150" alt="{{ user.username }}" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-8">
            <h1 class="display-4">{{ user.username }}</h1>
            <p class="lead">Correo electrónico: {{ user.email }}</p>
            <p class="lead">Fecha de registro: {{ user.date_joined }}</p>
            <p class="lead">
                Tipo de usuario: 
                {% if user.is_superuser %}
                    Administrador
                {% else %}
                    Cliente
                {% endif %}
            </p>

            <!-- Mostrar botón para gestionar juegos solo si el usuario es administrador -->
            {% if user.is_superuser %}
            <a href="{% url 'gestionar_juegos' %}" class="btn btn-warning mt-3">
                <i class="fas fa-cogs"></i> Gestionar Juegos
            </a>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
