.populares {
    padding: 3rem 0;
}

.populares__contenido {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0rem;
}

.populares__card {
    background: #fdfdfd;
    display: grid;
    grid-template-areas: 
        "card-imagem"
        "card-corpo";
    grid-template-columns: 100%;
    grid-template-rows: 173px auto;
    margin: 0.5rem;
    /* margin-right: 1rem;
    margin-bottom: 1rem; */
    width: calc(20% - 1rem);
}

.populares__card:last-child {
    margin-right: 0;
}

.populares__card___imagen {
    object-fit: cover;
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
}

.populares__card___base {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Asegura que el contenedor ocupe todo el espacio vertical disponible */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    padding: 10px; /* Ajusta según sea necesario */
}

.card {
    flex: 1 1 auto; /* Permite que la card se expanda o contraiga según el contenido */
    width: 100%; /* Asegura que la card ocupe todo el ancho disponible */
}

.row.justify-content-center.mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* .populares__card___base {
    display: grid;
    grid-area: card-corpo;
    grid-template-areas: 
        "card-header"
        "card-contenido";
    padding: .75rem;
} */

.populares__card___titulo {
    color: #333333;
    font-size: 1.5rem;
    text-align: center;
}

.populares__card___data {
    color: #808080;
    font-size: .9rem;
}

.populares__card___descripcion {
    color: #333333;
    line-height: 1.5;
    margin: 1rem 0;
    text-align: justify;
}

.populares__titulo {
    font-weight: 500;
    color: rgb(220, 220, 220);
}

.populares__icon {
    margin-right: .25rem;
}

.populares__header {
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    justify-content: space-between;
}

.populares__boton {
    background: transparent;
    border: none;
    color: #333333;
}

.populares__boton___compra {
    justify-content: center;
}