 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .destaques__secundario:nth-child(2),
    .destaques__secundario:nth-child(3),
    .destaques__secundario:nth-child(4),
    .destaques__secundario:nth-child(5){
        display: none;
        grid-column: none;
        grid-row: none;
    }
    
    .destaques__principal,
    .destaques__categorias  {
        grid-column: 1 / 5;
    }

    .populares__contenido {
        flex-direction: column
    }

    .populares__card {
        width: 100%;
        margin-bottom: 3rem;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (max-width: 600px) { */
@media (min-width: 768px) and (max-width: 991px) {
    .menu__lista {
        padding-left: 0rem;
    }

    .encabezado {
        padding-bottom: 4rem;
        padding-left: 1rem;
    }

    .destaques {
        padding-top: 1rem;
    }

    .populares__card {
        width: calc(33.33% - 1rem); /* Ajusta para que haya 3 cards por fila en tablets */
    }
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) { */
@media (min-width: 768px) and (max-width: 991px) {
    /* .populares__card {
        width: calc(100% - 1rem);
    } */
    .populares__card {
        flex: 0 0 calc(33.33% - 1rem); /* 3 cards por fila en tablets con espacio entre ellas */
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .populares__card {
        flex: 0 0 calc(20% - 1rem); /* 5 cards por fila en escritorio */
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...} 
